:root {
  --gradient-primary: linear-gradient(to top left, #3e98b9, #1ce9b6);
  --color-secondary: #346f85;
  --color-primary: #398eac;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "poppins", sans-serif;
  line-height: 1;
  color: #444;
  background-color: #ededed;
  /* background-color: #161616; */
  line-height: 1.9;
}

.section {
  padding: 15rem 5.4rem;
  border-top: 1px solid #ddd;
  transition: transform 1s, opacity 1s;
}

/* ********** */
/* NAV */
/* ********** */

.nav-box {
  height: 8rem;
  width: 100%;
  padding: 0 6.5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  z-index: 100;
}

.nav-logo {
  height: 4.5rem;
}
.header-logo {
  height: 4.5rem;
  margin-right: 4px;
}
.nav-links {
  display: flex;
  list-style: none;
}

.nav-link:link,
.nav-link:visited {
  margin-left: 4rem;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
  font-size: 1.7rem;
  transition: all 0.3s ease;
}

.nav-link--btn:link,
.nav-link--btn:visited {
  background-color: var(--color-primary);
  padding: 1rem 3rem;
  border-radius: 100rem;
  color: #fff;
}
.nav-link--btn:hover {
  background-color: var(--color-secondary);
}

/* *********** */
/* HEADER */
/* *********** */

header {
  height: 100vh;
}

.header {
  margin: 0 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 62rem;
}

.header-title {
  flex: 1;
  max-width: 115rem;
  display: grid;
  grid-template-columns: 3fr 2fr;
  row-gap: 3rem;
  align-content: center;
  justify-content: center;
  align-items: start;
  justify-items: start;
}

.header-title h1 {
  font-size: 5.6rem;
  line-height: 1.35;
  font-weight: 900;
}

.header-title p {
  font-size: 1.6rem;
}
.header-title p span {
  color: var(--color-secondary);
  font-weight: 500;
}

.header-title .header-article {
  font-size: 2.2rem;
  font-weight: 400;
  color: #333;
}

.highlight::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* z-index: -2; */
  opacity: 1;
  mix-blend-mode: lighten;
  transform: scale(1.07, 1.05) skewX(-15deg);
  background-image: var(--gradient-primary);
}

.highlight {
  position: relative;
}

.header-btns {
  display: flex;
  gap: 3rem;
}

.header-btn {
  display: inline-block;
  font-size: 1.6rem;
  font-family: inherit;
  cursor: pointer;
  border-radius: 10rem;
  transition: all 0.3s;
}

.register-btn {
  background-color: var(--color-primary);
  padding: 1rem 4.3rem;
  border-radius: 12rem;
  color: #fff;
  border: none;
}
.register-btn:hover {
  background-color: var(--color-secondary);
  transform: translateY(-0.6rem);
}

.more-btn {
  color: var(--color-secondary);
  padding: 0.5rem 3rem;
  border: none;
  border-radius: 0;
  background-color: #ededed;
  border-bottom: 2px solid #00000011;
}
.more-btn:hover {
  border-radius: 12rem;
  border: none;
  transform: translateY(-0.6rem);
  background-color: #dfdfdf;
}

.header-title .img-header {
  grid-column: 2/3;
  grid-row: 1 / span 4;
  width: 100%;
}

/* ************* */
/* SECTION INTRODUCTION */
/* ************* */

.section-introduction {
  padding: 0 3rem;
  max-width: 120rem;
  margin: 0 auto;
}

.intro-header {
  max-width: 80rem;
  margin: 0 auto;
  margin-bottom: 4.4rem;
}

.intro-title {
  color: var(--color-secondary);
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.intro-description {
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.35;
}

.intro-box {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-flow: row;
  align-items: center;
  gap: 2.4rem 0;
  margin-bottom: 10rem;
}

.intro-information {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  padding: 0 9rem;
}
.icon {
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 50%;
  border: 5px solid #ededed;
  box-shadow: 0 0 0 3px #8adbd4;
  background-color: #8adbd4;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  fill: #fff;
}
.intro-information p {
  font-size: 1.4rem;
  color: #2b2b2b;
  /* padding-right: 14rem; */
}
.intro-information h2 {
  font-size: 2.2rem;
  color: #222;
}

.intro-img {
  /* width: 60rem; */
  height: 35rem;
  padding: 2.4rem;
  overflow: hidden;
}

.intro-img img {
  width: 100%;
  opacity: 0.8;
}

.info-container {
  /* padding: 2.4rem;  */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;
}

.info-box {
  height: 36rem;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: start;
  background-color: #fff;
  box-shadow: 0 3px 6px #00000011;
  border-radius: 1.3rem;
  gap: 2rem;
  padding: 2.4rem;
  transition: all 0.3s ease;
}

.info-box p {
  font-size: 1.6rem;
  line-height: 1.35;
  font-weight: 400;
  color: #1a1a1a;
}
.info-icon {
  width: 10rem;
  border-radius: 50%;
  height: 10rem;
  background-color: #9bd9e6;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.info-icon-svg {
  fill: #000;
  width: 6rem;
  height: 6rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-icon::after {
  mix-blend-mode: screen;
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  background-image: linear-gradient(50deg, #017784, #66ecf6);
  z-index: 11;
}

.info-btn {
  border: none;
  background: none;
  padding: 0.6rem 1rem;
  font-family: inherit;
  color: #040404;
  align-self: end;
  justify-self: end;
  transition: all 0.3s ease;
  border-radius: 11rem;
}
.info-btn:hover {
  background-color: #dfdfdf;
}

/* $$$$$$$$$ */
/* section service */
/* $$$$$$$$$ */

.section-service {
  max-width: 136rem;
  margin: 0 auto;
}

.img-doctor {
  width: 120rem;
  margin-inline: auto;
  padding-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}
.img-doctor h2 {
  margin-bottom: 2.4rem;
  font-size: 2.6rem;
}

.img-doctor p {
  font-size: 2rem;
  line-height: 1.35;
  font-weight: 400;
  margin-bottom: 3rem;
}

.img-doctor img {
  width: 44rem;
  overflow: hidden;
  aspect-ratio: 4/3;
  object-fit: cover;
  justify-self: end;
}

.service-btn {
  color: #eded;
  border: none;
  border-radius: 50rem;
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 400;
  padding: 1rem 5.6rem;
  background-color: var(--color-primary);
  transition: all 0.4s;
  box-shadow: 0 0 3px var(--color-primary), 0 3px 6px #00000012;
}
.service-btn:hover {
  background-color: var(--color-secondary);
}

/* $$$$$$$$$ */
/* section about */
/* $$$$$$$$$ */

.about-us {
  width: 120rem;
  margin-inline: auto;
}

.about-info {
  margin-top: 2.4rem;
  font-size: 2rem;
  line-height: 1.35;
}
